.resume {
  height: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  overflow: hidden;
}
.resume_experiences,
.resume_educations {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.experiences {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
}
.edu_skill_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.educations {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  background-color: var(--bgWhiteColor);
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.16);
}
.skills {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

/* max screen screen 1200px */

@media only screen and (max-width: 1200px) {
  .resume {
    width: 100%;
    margin: 4rem auto;
    align-items: flex-start;
  }
  .resume_experiences,
  .resume_educations {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 14rem;
    margin-bottom: 4rem;
  }
}

/* max screen screen 991px */

@media only screen and (max-width: 991px) {
  .resume_experiences,
  .resume_educations {
    width: 100%;
    padding: 0 2rem 0 10rem;
  }
  .edu_skill_container {
    flex-direction: column;
    gap: 4rem;
  }
  .educations {
    margin-right: 0rem;
  }
}

/* max screen screen 767px */

@media only screen and (max-width: 767px) {
  .resume_experiences,
  .resume_educations {
    padding: 0 2rem;
  }
}
