.about_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.about_img_icons {
  width: 40rem;
  height: 40rem;
  position: relative;
}
.about_img_icons img {
  width: 100%;
  height: 100%;
  object-fit: calc(100%);
  border-radius: 50%;
  position: relative;
}
.about_img_icons::before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  width: calc(100% + var(--borderWidth) * 2);
  height: calc(100% + var(--borderWidth) * 2);
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: moveGradient 4s alternate infinite;
  border-radius: 50%;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.about_img_icons a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--deepBlackColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--bgWhiteColor);
  transition: all 0.3s ease;
}
.about_img_icons a:hover {
  transform: scale(1.1);
  background-color: var(--yellowColor);
}
.about_img_icons a > svg {
  fill: var(--bgWhiteColor);
  font-size: 1.8rem;
}

.about_img_icons a:nth-of-type(1) {
  position: absolute;
  top: 88%;
  left: 22%;
}
.about_img_icons a:nth-of-type(2) {
  position: absolute;
  top: 93%;
  left: 35%;
}
.about_img_icons a:nth-of-type(3) {
  position: absolute;
  top: 95%;
  left: 48%;
}
.about_img_icons a:nth-of-type(4) {
  position: absolute;
  top: 93%;
  left: 61%;
}
.about_img_icons a:nth-of-type(5) {
  position: absolute;
  top: 86%;
  left: 74%;
}
.about_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.about_name p {
  font-family: var(--logofont);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--pfontColor);
}
.about_name h2 {
  font-size: 3rem;
  font-weight: 500;
}

/* max screen screen 1200px */

@media only screen and (max-width: 1200px) {
  .about_img_icons {
    width: 30rem;
    height: 30rem;
  }
}

/* max screen screen 1200px */

@media only screen and (max-width: 1200px) {
  .about_img {
    gap: 4rem;
  }
}

/* max screen screen 576px */

@media only screen and (max-width: 576px) {
  .about_img {
    margin-left: 4rem;
  }
  .about_img_icons {
    width: 60%;
    height: auto;
  }
  .about_img_icons img {
    object-fit: cover;
  }
  .about_img_icons a {
    width: 3.2rem;
    height: 3.2rem;
  }
}
