@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --yellowColor: #ff9301;
  --floatingYellowColor: rgba(255, 147, 1, 0.3);
  --navBorderColor: rgba(11, 11, 19, 0.1);
  --semiBlackColor: #333;
  --deepBlackColor: #0b0b13;
  --pfontColor: #555;
  --bgWhiteColor: #f7f7ff;
  --basefont: "Rubik", sans-serif;
  --logofont: "Roboto", sans-serif;
  --pFont: "Source Sans Pro", sans-serif;
  --p2Font: "Jost", sans-serif;
  --borderWidth: 3px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--basefont);
}

.content__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t__heading {
  font-family: var(--basefont);
  font-weight: 600;
  color: var(--deepBlackColor);
  font-size: 3rem;
}

.t__subHeading {
  font-family: var(--basefont);
  font-weight: 500;
  color: var(--deepBlackColor);
  font-size: 2rem;
}

.p__text {
  font-family: var(--basefont);
  font-weight: 400;
  color: var(--pfontColor);
  font-size: 1.6rem;
}
.btn {
  padding: 1rem 2rem;
  font-family: var(--basefont);
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid transparent;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.swiper-pagination-bullet {
  transition: all 0.5s ease !important;
  outline-offset: 0.2rem;
  outline: 0.2rem solid var(--yellowColor) !important;
  margin-right: 0.8rem !important;
  background-color: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--yellowColor) !important;
}
